.heading-3xl {
  font-size: 40px;
}
.heading-2xl {
  font-size: 34px;
}
.heading-xl {
  font-size: 30px;
}
.heading-lg {
  font-size: 26px;
}
.heading-md {
  font-size: 20px;
}
.heading-sm {
  font-size: 16px;
}
.heading-xs {
  font-size: 12px;
}
.heading-2xs {
  font-size: 8px;
}
