.responsive {
  width: 100%;
  object-fit: cover;
  /* max-height: 500px; */
}

.round {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (min-width: 500px) {
  .responsive {
    max-width: 500px;
  }
}
